.container {
  padding-top: 100px;
  min-height: calc(100vh - 80px);
  display: flex;

  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.info-cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
table {
  width: 100%;
  border-bottom: 1px solid black;
  text-align: center;
}
p {
  font-size: 2rem;
  text-align: center;
}
.finishbutton,
.clearbutton {
  width: 10em;
  text-align: center;
  color: white;
  background-color: black;
  font-weight: bold;
}
.finishbutton:hover,
.clearbutton:hover {
  background-color: gray;
}
.clearbutton {
  margin-left: 3em;
}
