.product {
  width: 200px;
  display: flex;
  flex-direction: column;
  height: 242px;
  align-items: center;
  border-radius: 5px;

  border: 1px solid black;
}
.quantity > button {
  color: white;
  background-color: black;
  height: 40px;
  width: 200px;
}
.quantity > button:hover {
  background-color: gray;
}
.product:hover {
  border: 3px solid black;
}
.product img {
  width: 100%;

  height: 50%;
  margin-top: 0px;
  cursor: pointer;
}
.infoproduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameproduct {
  font-weight: bold;
}

.quantity {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.sucesso {
  background-color: green;
  height: 40px;
  width: 200px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}
