<div class="container_home">
  <div class="container_home_gpu">
    <img
      src="https://images.unsplash.com/photo-1618764400608-9e7115eede74?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
      srcset=""
    />
    <div class="container_home_gpu_content">
      <h2>GRAPHICS CARD</h2>
      <div class="gpu">
        <img
          src="https://images.unsplash.com/photo-1512756290469-ec264b7fbf87?q=80&w=1506&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          srcset=""
        />
        <div class="description">
          <h5>GPU 1</h5>
          <p>
            <span
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
              praesentium atque laborum quos aliquam, ab, dicta earum qui quo
              ipsum optio delectus non, rerum cupiditate voluptatum facere
              explicabo eligendi quaerat.</span
            >
          </p>
        </div>
      </div>

      <div class="gpu">
        <div class="description">
          <h5>GPU 1</h5>
          <p>
            <span
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
              praesentium atque laborum quos aliquam, ab, dicta earum qui quo
              ipsum optio delectus non, rerum cupiditate voluptatum facere
              explicabo eligendi quaerat.</span
            >
          </p>
        </div>
        <img
          src="https://images.unsplash.com/photo-1512756290469-ec264b7fbf87?q=80&w=1506&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          srcset=""
        />
      </div>

      <div class="gpu">
        <img
          src="https://images.unsplash.com/photo-1512756290469-ec264b7fbf87?q=80&w=1506&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          srcset=""
        />
        <div class="description">
          <h5>GPU 1</h5>
          <p>
            <span
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
              praesentium atque laborum quos aliquam, ab, dicta earum qui quo
              ipsum optio delectus non, rerum cupiditate voluptatum facere
              explicabo eligendi quaerat.</span
            >
          </p>
        </div>
      </div>
    </div>

    <img
      src="https://images.unsplash.com/photo-1601046885687-b7bdf1306274?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
      srcset=""
    />

    <div class="container_home_gpu_content">
      <h2>MEMORY</h2>
      <div class="gpu">
        <img
          src="https://images.unsplash.com/photo-1512756290469-ec264b7fbf87?q=80&w=1506&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          srcset=""
        />
        <div class="description">
          <h5>RAM 1</h5>
          <p>
            <span
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
              praesentium atque laborum quos aliquam, ab, dicta earum qui quo
              ipsum optio delectus non, rerum cupiditate voluptatum facere
              explicabo eligendi quaerat.</span
            >
          </p>
        </div>
      </div>

      <div class="gpu">
        <div class="description">
          <h5>RAM 1</h5>
          <p>
            <span
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
              praesentium atque laborum quos aliquam, ab, dicta earum qui quo
              ipsum optio delectus non, rerum cupiditate voluptatum facere
              explicabo eligendi quaerat.</span
            >
          </p>
        </div>
        <img
          src="https://images.unsplash.com/photo-1512756290469-ec264b7fbf87?q=80&w=1506&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          srcset=""
        />
      </div>

      <div class="gpu">
        <img
          src="https://images.unsplash.com/photo-1512756290469-ec264b7fbf87?q=80&w=1506&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          srcset=""
        />
        <div class="description">
          <h5>RAM 1</h5>
          <p>
            <span
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
              praesentium atque laborum quos aliquam, ab, dicta earum qui quo
              ipsum optio delectus non, rerum cupiditate voluptatum facere
              explicabo eligendi quaerat.</span
            >
          </p>
        </div>
      </div>
    </div>
    <img
      src="https://images.unsplash.com/photo-1631031509251-62a73758f9d3?q=80&w=1439&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
      srcset=""
    />
    <div class="container_home_gpu_content">
      <h2>MOTHERBOARD</h2>
      <div class="gpu">
        <img
          src="https://images.unsplash.com/photo-1512756290469-ec264b7fbf87?q=80&w=1506&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          srcset=""
        />
        <div class="description">
          <h5>MOTHERBOARD 1</h5>
          <p>
            <span
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
              praesentium atque laborum quos aliquam, ab, dicta earum qui quo
              ipsum optio delectus non, rerum cupiditate voluptatum facere
              explicabo eligendi quaerat.</span
            >
          </p>
        </div>
      </div>

      <div class="gpu">
        <div class="description">
          <h5>MOTHERBOARD 1</h5>
          <p>
            <span
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
              praesentium atque laborum quos aliquam, ab, dicta earum qui quo
              ipsum optio delectus non, rerum cupiditate voluptatum facere
              explicabo eligendi quaerat.</span
            >
          </p>
        </div>
        <img
          src="https://images.unsplash.com/photo-1512756290469-ec264b7fbf87?q=80&w=1506&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          srcset=""
        />
      </div>

      <div class="gpu">
        <img
          src="https://images.unsplash.com/photo-1512756290469-ec264b7fbf87?q=80&w=1506&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          srcset=""
        />
        <div class="description">
          <h5>MOTHERBOARD 1</h5>
          <p>
            <span
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
              praesentium atque laborum quos aliquam, ab, dicta earum qui quo
              ipsum optio delectus non, rerum cupiditate voluptatum facere
              explicabo eligendi quaerat.</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
