<div class="container">
  <h1>Graphic Cards</h1>
  <h5>{{ total }}</h5>

  <div class="products">
    <div class="product" *ngFor="let p of products">
      <img [src]="p.img" />
      <div class="infoproduct">
        <p class="nameproduct">{{ p.name }}</p>
        <p class="priceproduct">$ {{ p.price }}</p>
        <div class="quantity">
          <input
            type="number"
            class="form-control"
            id="quantity_{{ p.id }}"
            value="1"
          />

          <button class="btn btn-success" (click)="purchase(p)">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
